
$font-family-montserrat : "Montserrat";
$font-family-quicksand : "Quicksand";

// Colors
$title-color : #17181c;
$text-color : #777;
$text-color-999 : #999;
$white : #fff;
$eee : #eee;
$bbb : #bbb;
$ccc : #ccc;
$gray : #f9f9f9;
$gray-bg : #f9f9f9;
$light-bg: #1b1c20;
$dark-bg: #17181c;

$main-primary-color : #799ffe;
$main-primary-color-g : linear-gradient(-45deg, #8490ff, #62bdfc);
$main-secondary-color : #7189cb;

$main-primary-color-1 : #7189cb;
$main-primary-color-g-1 : linear-gradient(-45deg, #8490ff, #62bdfc);
$main-primary-color-2 : #F2709C;
$main-primary-color-g-2 : linear-gradient(-45deg, #F2709C, #ffb2cc);
$main-primary-color-3 : #5243a5;
$main-primary-color-g-3 : linear-gradient(-45deg, #5243a5, #9486e3);
$main-primary-color-4 : #3e9172;
$main-primary-color-g-4 : linear-gradient(-45deg, #3e9172, #90ddc0);
$main-primary-color-5 : #d3b41c;
$main-primary-color-g-5 : linear-gradient(-45deg, #fec84e, #ffdea8);
$main-primary-color-6 : #677993;
$main-primary-color-g-6 : linear-gradient(-45deg, #677993, #2c394a);
$main-primary-color-7 : #db98b1;
$main-primary-color-g-7 : linear-gradient(-45deg, #b97790, #f7c6d8);
$main-primary-color-8 : #ff8763;
$main-primary-color-g-8 : linear-gradient(-45deg, #b76147, #ffc1af);
$main-primary-color-9 : #d31111;
$main-primary-color-g-9 : linear-gradient(-45deg, #d31111, #ffc4c4);

$main-secondary-color-1 : #7189cb;
$main-secondary-color-2 : #ffb2cc;
$main-secondary-color-3 : #9486e3;
$main-secondary-color-4 : #90ddc0;
$main-secondary-color-5 : #ffdea8;
$main-secondary-color-6 : #2c394a;
$main-secondary-color-7 : #f7c6d8;
$main-secondary-color-8 : #ffc1af;
$main-secondary-color-9 : #ffc4c4;

$main-bg-1 : #fff;
$main-bg-2 : url("../img/shape/bg-thumb-2.png");
$main-bg-3 : url("../img/shape/bg-thumb-3.png");
//Border radius 
$border-radius-30: 30px;
$border-radius-20: 20px;
$border-radius-15: 15px;
$border-radius-10: 10px;

$border-color: #17181c;

$dark-mode-bg: #202126 !important;
$dark-mode-bg-light: #2c2f36 !important;

$dark-mode-bg-color: #17181c !important;
$dark-mode-bg-light-color:#2c2f36 !important;


